.projects-page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.projects-container
{
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    width: 76vw;
    height: 63vh;
}
.project-image
{
    height: 20vh;
    width: 18vw;
    border: 2px solid white;
    border-radius: 1em;
    margin-top: 0;
}
.projects-header
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: white;
    font-size: 2.625em;
}
.project-thumbnail-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.project
{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: center ;
    justify-content: center;
}
.thumbnail-header
{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    text-align: center;
    margin-bottom: 0;
    font-size: 1em;
    text-decoration: underline;
}
@media screen and (max-device-width:500px)
{
    .projects-header
    {
        margin-top: 10vh;
        font-size: 2em;
        margin-bottom: 0;
    }
    .project-image
    {
        height: 10vh;
        width: 15vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    .project-info
    {
        font-size: 0.4em;
    }
    .projects-container
    {
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    column-gap: 5vw;
    row-gap: 0;
    height: 55vh;
    margin-bottom: 5vh;
    }
    .thumbnail-header
    {
        font-size: 0.5em;
        
    }
}