body{
    background-image: linear-gradient(to right,#ff0152, #753a88,#185a9d,#2600ff98);
    background-size: 400%;
    background-position: right;
    animation:gradientAnimation 15s ease infinite ;
}
  
@keyframes gradientAnimation{
    0% {background-position: right;}
    50% {background-position: left;}
    100% {background-position: right;}
}
